.background {
    background: -moz-linear-gradient(340deg, rgba(2,0,36,1) -5%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 95%);
    background: -webkit-linear-gradient(340deg, rgba(2,0,36,1)1 -5%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 95%);
    background: linear-gradient(340deg, rgba(2,0,36,1) -5%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 95%);
}
.container{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 5px 10px 100px -15px #999
}
.throbber {
    display: block;
    width: 14px;
    height: 14px;
    background: #02A9F7;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #02A9F7;
    z-index: 3000;
    margin-top: -8px;
    top: 50%;
    left: -8px;
    position: absolute;
}

.throbber-inner {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -7px 0 0 -7px;
    width: 14px;
    height: 14px;
    border: 1px solid hsla(0%,0%,0%,.1);
    border-radius: 100%;
    box-shadow: 0 0 0 2px #02A9F7;
    background: hsla(.55, .99 , .59, .2);
}
.top-throbber {
    top: 100%;
    left: 68px;
}
.mid-throbber {
    top: 50%;
    left: 68px;
}
.step{
    border-left: 2px solid #0c1b5d;
    margin: 12px;
    padding-left: 30px !important;
    flex-basis: 100%;
}
.description {
    text-align: left;
}
.animated-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2D80C3;
    position: absolute;
    left: 0;
}
.step{
    flex: 1 0 200px;
    text-align: center;
    transition: all 0.25s;
    position: relative;
    padding: 0.5em;
}

.step > div{
    margin-bottom: 25px
}
.step > .image {
    display: inline-block
}
.workflow > .step {
  padding: 0.5em;
  flex: 1 0 200px;
  text-align: center;
  transition: all 0.25s;
  position: relative;
}
.workflow > .step > div {
    margin-bottom: 25px;
}
.workflow > .step > .image {
    display: inline-block;
}
.workflow > .step > .image > img {
    width: 120px;
    height: 100px;
    margin-bottom: 1em;
}
.workflow > .step > .image .img-landing {
    width: 150px;
    height: auto;
    margin-bottom: 1em;
}
.workflow > .step > .image .title {
    white-space: nowrap;
}
.workflow > .step .index {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    width: 2em;
    height: 2em;
    display: inline-block;
    line-height: 2em;
}
.workflow > .step .desc {
    display: inline-block;
    padding: 0 1em;
    color: #666666;
    text-align: left;
    text-justify: auto;
}
.workflow > .step .detail {
    font-size: 14px;
}
.workflow > .step .divider {
    width: 2px;
    height: 15px;
    position: relative;
    background: #02A9F7;
    display: inline-block;
}
.workflow > .step .divider:after {
    position: absolute;
    bottom: -8px;
    left: -3px;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #02A9F7;
}
.workflow{
    position: relative;
}
