.throbber {
    top: 75px;
    left: 20%;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    background: #02A9F7;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #02A9F7;
    z-index: 3000;
    margin: 25px;
}
.throbber-inner {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -13px 0 0 -13px;
    width: 26px;
    height: 26px;
    border: 1px solid hsla(0%,0%,0%,.1);
    background: hsla(60%,0%,40%,.4);
    border-radius: 100%;
    box-shadow: 0 0 0 2px #02A9F7;
}